.CommentContainer {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 12px;
    width: 35%;
    border: 3px solid black;
    border-radius: 2px;
    margin: 10px 0;
}

.comment {
    font-style: italic;
    font-weight: 600;
    text-align: justify;
    padding: 9px;
}

.metaData {
    font-size: 11px;
    text-align: left;
    padding: 0 0 5px 9px;
}